%p
  Hello #{@resource.email}!
%p Someone has requested a link to change your password

%p  Your Password Reset Token is
%h1= @token

%p If you didn't request this, please ignore this email.
%p Your password won't change until you access the link above and create a new one.
